* {
	padding: 0;
	border: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	pointer-events: auto;
}

main {
	margin-top: 150px;
	margin-bottom: 100px;
}

/*Welcome Page*/
	
	#index-body {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../images/background.jpg');
		height: 100vh; 
		background-size: cover; 
		background-position: center;	
	}

	@media only screen and (max-width: 600px) {
		#index-body {
			background-image: url('../images/background.jpg');
			height: 100vh;
			width: auto;
			background-size: cover;
			background-position: center;
		}
	}

	#main-body {
		height: 10000px;
	}

	#welcome-banner-text {
		font-family: 'Graduate', cursive;
		font-size: 2rem;
		color: maroon;
	}

	/*#welcome-banner-logo {
		height: 26px;
	}*/


/*Header--Navbar*/
	nav {
		border-bottom: 3px solid maroon;
	}


	#zuitterNav ul .active a {
		color: red;
	}

	#logo {
		text-shadow: 1px 2px black;
		height: 80px;
		width: 80px;
	}

/*Register/Login Page*/

	#register-body {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../images/library.jpg');
		height: 100vh;
		background-size: cover; 
		background-position: center;
		overflow: hidden;
	}

	#login-body {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../images/staffportal.jpg'); 
		height: 100vh;
		background-size: cover; 
		background-position: center;
		overflow: hidden;
	}

	#login-logo {
		height: 40px;
		width: 40px;
		margin-right: 10px;
	}
/*
	#reg-button-container {
		text-align: center;
	}

	#register-button {
		width: 120px;
		text-align: center;
	}*/

/*	#login-button {
		width: 120px;
		margin-left: 210px;
	}
	
	@media only screen and (max-width: 600px) {
		#reg-button-container {
			margin-right: 800px;
		}
	}*/

/*Courses Page*/

	#courses-body {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../images/faculty.jpg');
		height: 100vh;
		background-size: cover; 
		background-position: center;
		z-index: 999;
	}

/*Add Course(admin)*/
	
	#addCourse-button {
		width: 150px;
		margin-left: 500px;
	}

	.form-control:focus {
		border: 1px solid black;
		border-radius: 5px;
		outline: none;
	}

/*Courses*/
	
	/*.anchor-block {
		display: inline-flex;
		justify-content: center;
		text-align: center;
	}

	.viewButton, .editButton, .deleteButton {
		width: 80px;
		height: 35px;
		padding: 5px 15px 0 15px;
		margin-left: 45px;
		margin-right: 45px;
	}

	.reactivateButton {
		width: 120px;
	}*/

	.viewButton {
		margin-top: 7.5px;
	}

/*Edit Course*/

	#update-course {
		width: 80px;
		margin-left: 500px;
	}
	
/*Enroll Course(user)*/
	
	#enrollButton {
		
	}

/*Profile Page*/

	#profile-body {
		
	}

/*Footer*/

	footer {
		background-color: maroon;
	}